<div id="os-cookie-banner" class="os-cookie-banner" role="dialog" aria-label="Cookie consent" aria-hidden="true">
    <div class="os-cookie-inner">
        <p class="os-cookie-text">We use cookies for analytics. Read our <a href="/privacy/">Privacy Policy</a>.</p>
        <div class="os-cookie-actions">
            <button id="os-cookie-decline" class="os-cookie-btn os-cookie-btn-decline" type="button">Decline</button>
            <button id="os-cookie-accept" class="os-cookie-btn os-cookie-btn-accept" type="button">Accept</button>
        </div>
    </div>
</div>
