{{#if @site.members_enabled}}
{{#unless @member}}
<section class="os-cta-banner">
    <div class="os-cta-inner">
        <div>
            <h3>Get new analyses by email</h3>
            <p>Free. No spam. Just data that helps you hunt smarter.</p>
        </div>
        <a class="os-cta-btn" href="#/portal/signup" data-portal="signup">Subscribe free</a>
    </div>
</section>
{{/unless}}
{{/if}}
