{{!< default}}

<main class="site-main">

    {{#is "home"}}
    <div class="os-section-header">
        <h2>All Posts</h2>
    </div>
    {{/is}}

    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

    {{#is "home"}}
        {{> "subscribe-cta"}}
    {{/is}}

</main>
